.user-info{
    display: flex;
    margin: .2rem .2rem;
    width: auto;
    background-color: inherit;

    &.column-mode {
        flex-direction: column;
    }
    &.row-mode {
        flex-direction: row;
    }

    .user-info-profile{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: xx-large;
        font-weight: bolder;
    }
    .user-info-nickname{
        margin-top: .5rem;
        width: 100%;
        height: auto;
        margin-left: .6rem;
    }
}